@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Slick Fits */
  @font-face {
    font-family: 'radnika_next';
    src: url('/static/radnikanext-medium-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'source_code_pro';
    src: url('/static/SourceCodePro-SemiBold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'rubik';
    src: url('/static/Rubik-VariableFont_wght.ttf') format('truetype');
  }

  #slick {
    font-family: 'radnika_next', --apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
      sans-serif;
  }

  /* Styling Form Example */
  .styling-forms {
    @apply w-full border-gray-300 rounded-lg shadow-sm focus:border-purple-600 focus:ring-purple-500;
  }
}

@layer utilities {
  .square {
    aspect-ratio: 1/1;
  }

  .animation-delay-2000 {
    animation-delay: 2s;
  }
  ,
  .animation-delay-4000 {
    animation-delay: 4s;
  }

  .text-shadow {
    text-shadow: 2px 2px 0 rgb(0 0 0 / 10%);
  }
}

/* Theming Example */
@layer base {
  :root {
    --color-text-base: #ffffff;
    --color-text-muted: #c7d2fe;
    --color-text-inverted: #4f46e5;
    --color-fill: #4338ca;
    --color-button-accent: #ffffff;
    --color-button-accent-hover: #eef2ff;
    --color-button-muted: 99, 102, 241;
  }
  .theme-swiss {
    --color-text-base: #ffffff;
    --color-text-muted: #fecaca;
    --color-text-inverted: #dc2626;
    --color-fill: #b91c1c;
    --color-button-accent: #ffffff;
    --color-button-accent-hover: #fef2f2;
    --color-button-muted: 239, 68, 68;
  }
  .theme-neon {
    --color-text-base: #111802;
    --color-text-muted: #2f4306;
    --color-text-inverted: #ebfacc;
    --color-fill: #b3ff17;
    --color-button-accent: #243403;
    --color-button-accent-hover: #374f05;
    --color-button-muted: 212, 255, 122;
  }
}
